# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Tooling
node_modules/
.pnpm-store/
.cache/
